.app-container { display: flex; height: 100vh; }
.main-content { flex-grow: 1; display: flex; flex-direction: column; overflow-y: auto; }
.main-header { padding: 1.5rem 2rem; background-color: var(--bg-white); border-bottom: 1px solid var(--border-light); }
.main-header h1 { font-family: var(--font-title); text-transform: capitalize; }
.content-wrapper { padding: 2rem; flex-grow: 1; position: relative; } /* position: relative es importante */
.content-view { animation: fadeIn 0.5s ease-in-out; }
@keyframes fadeIn { from { opacity: 0; transform: translateY(10px); } to { opacity: 1; transform: translateY(0); } }
.card { background-color: var(--bg-white); border-radius: 12px; padding: 1.5rem; box-shadow: 0 4px 12px rgba(0,0,0,0.05); margin-bottom: 1rem; }
/* Añadir al final de src/App.css */
.btn-logout {
    margin-left: auto; /* Empuja el botón a la derecha */
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 0.5rem 1rem;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}